main {
    position: relative;
}

.keret {
    position: absolute;
    left: 220px;
    top: 300px;
}

/*X helyzete*/
#ablak {
    position: relative;
    z-index: 1000;
}

.bezar {
    position: absolute;

    right: 18px;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: rgb(171, 179, 179);
    color: rgb(177, 38, 38);
    font-size: 15pt;
    cursor: grab;
}

.bezar:hover .ablak {
    background: blue;
    color: red;
    display: none;
}

/*legördülő menü*/

.dropdown {
    position: relative;
}
.dropdown:hover .dropdown-content {
    position: absolute;
}

/* menü fixen marad görgetéskor*/
nav {
    position: fixed;
    top: 0;
    left: 0;
}
header {
    margin-top: 100px;
}

/*galéria kialakítása*/
.megjelenokep {
    display: none;
}
.kiskep:hover .megjelenokep {
    display: block;
}
.kep {
    position: relative;
}
.megjelenokep {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 200px;
}
