#ablak {
    width: 400px;
    background: rgb(237, 240, 240);
    padding: 15px;

    border-radius: 10px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        1px 6px 30px 16px rgba(41, 41, 40, 0.93);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        1px 6px 30px 16px rgba(41, 41, 40, 0.93);
}
form fieldset {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 50px 50px;
}
label {
    text-align: right;
}
